@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

* {
    padding : 0;
    margin : 0;
}
html {
    scroll-behavior: smooth;
    background: #1F1F1F;
    height: 100%;
}

h1{
    color: white;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 100px;
    margin: 18% 0;
}